@model IEnumerable<NWS_cs.Service>

@{
    ViewBag.Title = "Service Content";
}

<div class="row bumpPastTopbar">
    <h4>Manage Service Content</h4>

    <p>
        <a href='@Url.Action("Create", "Service")' class="button tiny">
            Create New
        </a>
    </p>

    @{
        foreach (var item in Model)
        {
            <div class="column small-12 panel">
                <div class="row">
                    <div class="column small-2 left">
                        <a href='@Url.Action("Edit", "Service", new { id = item.id })'>
                            Edit
                        </a>|
                        <a href='@Url.Action("Delete", "Service", new { id = item.id })'>
                            Delete
                        </a>
                    </div>

                    <div class="column small-10 left">
                        <div>
                            @Html.DisplayFor(modelItem => item.text)
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
