@model IEnumerable<NWS_cs.Feature>

@{
    ViewBag.Title = "Feature Content";
}

@{ 
    var feature = Model.ElementAt(0);

    <div class="row bumpPastTopbar">
        @Html.Action("_EditButtonPartial", "Edit")

        <h4>Feature Carousel</h4>

        <div class="column small-12 panel">
            <div class="row">
                <div class="column small-2 left">
                    <a href='@Url.Action("Edit", "Feature", new { id = feature.id })'>
                        Edit
                    </a>
                </div>

                <div class="column small-2 left">
                    <div class="row">
                        <img src="~/@(feature.image1)" alt="Carousel slide 1" />
                    </div>
                    <div class="row">
                        <img src="~/@(feature.image2)" alt="Carousel slide 2" />
                    </div>
                    <div class="row">
                        <img src="~/@(feature.image3)" alt="Carousel slide 3" />
                    </div>
                </div>

                <div class="column small-8 left">
                    <div>
                        @Html.DisplayFor(modelItem => feature.title)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => feature.article)
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
