@model NWS_cs.Feature

@{
    ViewBag.Title = "Feature Edit";
}


@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Edit the Feature</h4>

        <div>
            @Html.LabelFor(model => model.title)
            <div class="columns small-12">
                @Html.EditorFor(model => model.title)
            </div>

            @Html.LabelFor(model => model.article)
            <div class="columns small-12">
                @Html.EditorFor(model => model.article)
            </div>

            @Html.LabelFor(model => model.image1)
            <div class="columns small-12">
                @Html.EditorFor(model => model.image1)
            </div>

            @Html.LabelFor(model => model.image2)
            <div class="columns small-12">
                @Html.EditorFor(model => model.image2)
            </div>

            @Html.LabelFor(model => model.image3)
            <div class="columns small-12">
                @Html.EditorFor(model => model.image3)
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Feature")' class="button tiny">
            Back to List
        </a>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
