@model NWS_cs.Video


@{
    ViewBag.Title = "Video Create";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Create a Video</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.site)
            <div class="column small-12">
                @Html.EditorFor(model => model.site)
            </div>

            @Html.LabelFor(model => model.type)
            <div class="column small-12">
                @Html.EditorFor(model => model.type)
            </div>

            @Html.LabelFor(model => model.title)
            <div class="column small-12">
                @Html.EditorFor(model => model.title)
            </div>

            @Html.LabelFor(model => model.description)
            <div class="column small-12">
                @Html.EditorFor(model => model.description)
            </div>

            @Html.LabelFor(model => model.link)
            <div class="column small-12">
                @Html.EditorFor(model => model.link)
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Video")' class="button tiny">
            Back to List
        </a>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
