<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />

        @*Set the viewport width to device width for mobile *@
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @Styles.Render("~/Content/foundation/css")
        <link href="@Url.Content("~/Content/foundation-icons/foundation-icons.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Slick/slick.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Slick/slick-theme.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

        @RenderSection("head", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        @RenderPage("~/Views/Shared/_Header.cshtml")
        @RenderBody()
        @RenderPage("~/Views/Shared/_Footer.cshtml")


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")
        <script src="@Url.Content("~/Scripts/Slick/slick.min.js")"></script>
        <script>
            // Initialize Zurb Foundation
            $(document).foundation();

            // Initialize Slick Carousel
            $(document).ready(function() {
                $('.featureCarousel').slick({
                    accessibility: true,
                    dots: false,
                    infinite: true,
                    autoplay: true,
                    autoplayspeed: 3000,
                    fade: true,
                    cssEase: 'linear'
                });
            });
        </script>
        @*Use the Scripts section to define page specific scripts*@
        @RenderSection("scripts", required: false)
    </body>
</html>