@model IEnumerable<NWS_cs.Video>

<div class="row" data-equalizer="eq-videos">
    <h6>Videos...</h6>

    @{
        int index = 0;
        string[] colors = { "purpleA", "purpleB", "purpleC" };
        foreach (var item in Model)
        {
            <div class="column small-12 medium-6 large-4 panel left 
                 @Html.Raw(colors[index % colors.Length])"
                 data-equalizer-watch="eq-videos">

                @if (item.site.Equals("onsite"))
                {
                    <div>
                        <video width="300" height="220" controls>
                            <source src="@Html.DisplayFor(modelItem => item.link)" 
                                    type="@Html.DisplayFor(modelItem => item.type)">
                        </video>
                        <h5>@Html.DisplayFor(modelItem => item.title)</h5>
                        <p>@Html.DisplayFor(modelItem => item.description)</p>
                    </div>
                }
                else if (item.site.Equals("youtube")) {
                    <div>
                        <iframe width="300" 
                                height="169" 
                                src="@Html.DisplayFor(modelItem => item.link)" 
                                frameborder="0" 
                                allowfullscreen></iframe>

                        <h5>@Html.DisplayFor(modelItem => item.title)</h5>
                        <p>@Html.DisplayFor(modelItem => item.description)</p>
                    </div>
                }
                else
                {
                    <div>
                        <img src="@Html.DisplayFor(modelItem => item.link)" 
                             alt="@Html.DisplayFor(modelItem => item.title)" />
                        <h5>@Html.DisplayFor(modelItem => item.title)</h5>
                        <p>@Html.DisplayFor(modelItem => item.description)</p>
                    </div>
                }
            </div>
            index++;
        }
    }
</div>
