@model IEnumerable<NWS_cs.Officer>

@{
    ViewBag.Title = "Officer Content";
}

<div class="row bumpPastTopbar">
    @Html.Action("_EditButtonPartial", "Edit")

    <h4>Neighborhood Association Officers</h4>

    <p>
        <a href='@Url.Action("Create", "Officer")' class="button tiny">
            Create New
        </a>
    </p>

    @{
        foreach (var item in Model)
        {
            <div class="column small-12 panel">
                <div class="row">
                    <div class="column small-2 left">
                        <a href='@Url.Action("Edit", "Officer", new { id = item.id })'>
                            Edit
                        </a>|
                        <a href='@Url.Action("Delete", "Officer", new { id = item.id })'>
                            Delete
                        </a>
                    </div>

                    <div class="column small-2 left">
                        <div class="row">
                            <img src="~/@(Html.DisplayFor(modelItem => item.photo))" alt="Officer image" />
                        </div>
                    </div>

                    <div class="column small-8 left">
                        <div>
                            @Html.DisplayFor(modelItem => item.name)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.email)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.description)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.photo)
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
