@model NWS_cs.Officer

@{
    ViewBag.Title = "Officer Create";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Create an Officer</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.name)
            <div class="column small-12">
                @Html.EditorFor(model => model.name)
            </div>

            @Html.LabelFor(model => model.email)
            <div class="column small-12">
                @Html.EditorFor(model => model.email)
            </div>

            @Html.LabelFor(model => model.description)
            <div class="column small-12">
                @Html.EditorFor(model => model.description)
            </div>

            @Html.LabelFor(model => model.photo)
            <div class="column small-12">
                @Html.EditorFor(model => model.photo)
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Officer")' class="button tiny">
            Back to List
        </a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
