@model NWS_cs.Officer

@{
    ViewBag.Title = "Officer Delete";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Delete an Officer</h4>

        <h5>Are you sure you want to delete this?</h5>

        <div class="column small-12 panel">
            <div class="row">
                <div class="column small-2 small-offset-2 left">
                    <div class="row">
                        <img src="~/@(Html.DisplayFor(model => model.photo))" alt="Officer image" />
                    </div>
                </div>

                <div class="column small-8 left">
                    <div>
                        @Html.DisplayFor(model => model.name)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.email)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.description)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.photo)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Delete" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Officer")' class="button tiny">
            Back to List
        </a>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
