@model IEnumerable<NWS_cs.Article>

@{
    ViewBag.Title = "Article Content";
}

@*Thanks to http://stackoverflow.com/a/14848217*@
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(input)
    }
    else
    {
        var thisString = input.Substring(0, length) + "...";
        @Html.Raw(thisString)
    }
}

<div class="row bumpPastTopbar">
    @Html.Action("_EditButtonPartial", "Edit")

    <h4>Articles</h4>

    <p>
        <a href='@Url.Action("Create", "Article")' class="button tiny">
            Create New
        </a>
    </p>

    @{
        foreach (var item in Model)
        {
            <div class="column small-12 panel">
                <div class="row">
                    <div class="column small-2 left">
                        <a href='@Url.Action("Edit", "Article", new { id = item.id })'>
                            Edit
                        </a>|
                        <a href='@Url.Action("Delete", "Article", new { id = item.id })'>
                            Delete
                        </a>
                    </div>

                    <div class="column small-2 left">
                        <div class="row">
                            <img src="~/@(Html.DisplayFor(modelItem => item.image))" alt="Article image" />
                        </div>
                    </div>

                    <div class="column small-8 left">
                        <div>
                            @Html.DisplayFor(modelItem => item.uuid)
                        </div>

                        @if (item.hfso)
                        {
                            <div>
                                @Html.Raw("Image is hidden for small media only.")
                            </div>
                        }

                        <div>
                            @Html.DisplayFor(modelItem => item.title)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.image)
                        </div>
                        <div>
                           @Truncate(item.text, 50)
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
