@model NWS_cs.Article

@{
    ViewBag.Title = "Article Delete";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Delete an Article</h4>

        <h5>Are you sure you want to delete this?</h5>

        <div>
            @Html.DisplayNameFor(model => model.uuid)
            <div class="columns small-12 panel">
                @Html.DisplayFor(model => model.uuid)
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.hfso)
            <div class="columns small-12 panel">
                @Html.DisplayFor(model => model.hfso)
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.title)
            <div class="columns small-12 panel">
                @Html.DisplayFor(model => model.title)
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.image)
            <div class="columns small-12 panel">
                @Html.DisplayFor(model => model.image)
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.text)
            <div class="columns small-12 panel">
                @Html.DisplayFor(model => model.text)
            </div>
        </div>

            <div class="form-group">
                <input type="submit" value="Delete" class="button tiny" />
            </div>

            <a href='@Url.Action("Content", "Article")' class="button tiny">
                Back to List
            </a>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
