@model NWS_cs.Article

@{
    ViewBag.Title = "Article Delete";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Delete an Article</h4>

        <h5>Are you sure you want to delete this?</h5>

        <div class="column small-12 panel">
            <div class="row">
                <div class="column small-2 small-offset-2 left">
                    <div class="row">
                        <img src="~/@(Html.DisplayFor(model => model.image))" alt="Article image" />
                    </div>
                </div>

                <div class="column small-8 left">
                    <div>
                        @Html.DisplayFor(model => model.uuid)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.title)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.image)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.text)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Delete" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Article")' class="button tiny">
            Back to List
        </a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
