@model NWS_cs.Article

@{
    ViewBag.Title = "Article Edit";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Edit an Article</h4>

        <div>
            @Html.LabelFor(model => model.uuid)
            <div class="column small-12">
                @Html.EditorFor(model => model.uuid)
            </div>

            @Html.LabelFor(model => model.title)
            <div class="column small-12">
                @Html.EditorFor(model => model.title)
            </div>

            @Html.LabelFor(model => model.image)
            <div class="column small-12">
                @Html.EditorFor(model => model.image)
            </div>

            @Html.LabelFor(model => model.text)
            <div class="column small-12">
                @Html.EditorFor(model => model.text)
            </div>

           <p>Hide for small media only?
                @Html.CheckBoxFor(model => model.hfso)
           </p>

        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Article")' class="button tiny">
            Back to List
        </a>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
