@model IEnumerable<NWS_cs.Archive>

@{
    ViewBag.Title = "Archive Content";
}

<div class="row bumpPastTopbar">
    <h4>Manage Archive Content</h4>

    <p>
        <a href='@Url.Action("Create", "Archive")' class="button tiny">
            Create New
        </a>
    </p>

    @{
        foreach (var item in Model)
        {
            <div class="columns large-12 medium-12 small-12 panel">
                <div class="row">
                    <div class="column small-2 left">
                        <a href='@Url.Action("Edit", "Archive", new { id=item.id })'>
                            Edit
                        </a>|
                        <a href='@Url.Action("Delete", "Archive", new { id=item.id })'>
                            Delete
                        </a>
                    </div>

                    <div class="column small-10 left">
                        <div class="row">
                            @Html.DisplayFor(modelItem => item.title)
                        </div>
                        <div class="row">
                            @Html.DisplayFor(modelItem => item.link)
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
