@model NWS_cs.Archive

@{
    ViewBag.Title = "Archive Delete";
}

<div class="row bumpPastTopbar">
    <h4>Delete an Archive Item</h4>

    <h5>Are you sure you want to delete this?</h5>

    <div>
        @Html.DisplayNameFor(model => model.title)
        <div class="columns small-12 panel">
            @Html.DisplayFor(model => model.title)
        </div>
    </div>

    <div>
        @Html.DisplayNameFor(model => model.link)
        <div class="columns small-12 panel">
            @Html.DisplayFor(model => model.link)
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <input type="submit" value="Delete" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Archive")' class="button tiny">
            Back to List
        </a>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
