@model NWS_cs.Archive

@{
    ViewBag.Title = "Archive Edit";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Edit an Archive Item</h4>

        <div>
            @Html.LabelFor(model => model.title)
            <div class="column small-12">
                @Html.EditorFor(model => model.title)
            </div>

            @Html.LabelFor(model => model.link)
            <div class="column small-12">
                @Html.EditorFor(model => model.link)
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Archive")' class="button tiny">
            Back to List
        </a>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
